<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<appSettings>
<add key="ServerURL" value="\\SOPHUS-MFILES\logs\" />
<add key="ServerURLProcessLog" value="\DocumentMerge Logs\" />
  
<add key="seeLogPopError" value="An Error ocurred while merging the document, see error log for more details" />
<add key="writingLogError" value="Error writing to log file." />
<add key="stateMergerWorkFlowError" value="Files can not be merged, End: Merge Document state is required"/>
<add key="fileOpenError" value="FILE OPEN ERROR: The file does not exist"/>
<add key="boardAgendaNotReadyError" value="Board Agenda is not ready to be merged"/>
<add key="selectMatterError" value="Select a Matter"/>
<add key="mergeSuccess" value="Document has been merged"/>
<add key="mergeCanceled" value="Document creation Cancelled."/>
<add key="lessDocumentsAlert" value="Documents have been approved, you need 5 to create the document merged."/>
<add key="finishedProcess" value="Process Finished"/>
  
<add key="DocumentVault" value="CalPERS Integration" />  
<add key="BAObject" value="Board Agenda Temp" />

<!--Document names-->
  <add key="NOfDocs" value="7"/>
  <!--General-->
<add key="AgendaItemGeneral" value="PD Agenda Item (General).docx" />
<add key="StaffArgumentGeneral" value="PD Agenda Item Staff Argument (General).docx" />
  <!--Eff Ret Date-->
  <add key="AgendaItemEff" value="PD Agenda Item (Eff Ret Date).docx" />
<add key="StaffArgumentEff" value="PD Agenda Item Staff Argument (Eff Ret Date).docx" />
  <!--Haywood-->
  <add key="AgendaItemHaywood" value="PD Agenda Item (Haywood).docx" />
<add key="StaffArgumentHaywood" value="PD Agenda Item Staff Argument (Haywood).docx" />
  <!--DR-->
  <add key="AgendaItemDR" value="PD Agenda Item (DRIDR).docx" />
<add key="StaffArgumentDR" value="PD Agenda Item Staff Argument (DRIDR).docx" />
  <!--DR-->
  <add key="AgendaItemMembership" value="PD Agenda Item (Membership - Local PA).docx" />
<add key="StaffArgumentMembership" value="PD Agenda Item Staff Argument(MembershipLocalPA).docx" />
  <!--DR-->
  <add key="AgendaItemReeval" value="PD Agenda Item (Reevaluation).docx" />
<add key="StaffArgumentReeval" value="PD Agenda Item Staff Argument (Reevaluation).docx" />
  
  <!-- Attachment cover sheets documents-->
  <add key="CoverSheetA" value="Attachment A Cover Sheet.docx"/>
  <add key="CoverSheetB" value="Attachment B Cover Sheet.docx"/>
  <add key="CoverSheetC" value="Attachment C Cover Sheet.docx"/>
  <!-- Placeholders -->
  <add key="Placeholder1" value="THE PROPOSED DECISION.pdf"/>
  <add key="Placeholder2" value="RESPONDENT(S) ARGUMENT(S).pdf"/>
</appSettings>
</configuration>
